.chip-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chip-loader {
  width: 100%;
  max-width: 800px;
}

.trace-bg {
  stroke: #333;
  stroke-width: 1.8;
  fill: none;
}

.trace-flow {
  stroke-width: 1.8;
  fill: none;
  stroke-dasharray: 40 400;
  stroke-dashoffset: 438;
  filter: drop-shadow(0 0 6px currentColor);
  animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

.yellow {
  stroke: #ffea00;
  color: #ffea00;
}

.blue {
  stroke: #00ccff;
  color: #00ccff;
}

.green {
  stroke: #00ff15;
  color: #00ff15;
}

.purple {
  stroke: #9900ff;
  color: #9900ff;
}

.red {
  stroke: #ff3300;
  color: #ff3300;
}

@keyframes flow {
  to {
    stroke-dashoffset: 0;
  }
}

